<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Success</title>
    <link rel="stylesheet" href="/styles/otp.css">
    <script>
        // redirect to the specified URL after a delay
        setTimeout(() => {
            window.location.href = "<%= redirectUrl %>";
        }, 2000); // 2 seconds delay
    </script>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1><%= message %></h1>
            <p>You will be redirected shortly...</p>

            <!-- link for manual redirection -->
            <p>If you are not redirected, <a href="<%= redirectUrl %>">click here</a>.</p>
        </div>
    </div>
</body>
</html>